# Dependencies
node_modules/
__pycache__/
*.pyc
.venv/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
*.o
*.exe

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local

# Docker persistent data
kafka/postgres-data/
kafka/kafka-data/
kafka/zookeeper-data/
postgres/data/
mongodb/mongo-data
mongodb/mongo-config